<div class="container" [style.visibility]="loading ? 'hidden' : ''" [style.max-height]="loading ? '0px' : ''">
  <div #player class="player"></div>
  <div *ngIf="castService.isCasting" class="cast-overlay">
    <div class="row row__reverse">
      <img  (click)="stopSession()" class="icon icon__cast" src="/assets/img/cast-connected.svg" alt="cast connected">
    </div>

    <div class="row row__center">
      <img class="icon icon__skip" src="/assets/img/backward.svg" alt="back 10 seconds">
      <img (click)="toggleReceiverPlay()" class="icon icon__play" [src]="castService.receiverPlayerState === 'paused' ? '/assets/img/play-solid.svg' : '/assets/img/pause-solid.svg'" alt="play">
      <img class="icon icon__skip" src="/assets/img/forward.svg" alt="skip 10 seconds">
    </div>

    <div class="row row__reverse">
      <img 
        (click)="toggleMuteReceiver()" 
        class="icon icon__mute" 
        [src]="!receiverMuted ? '/assets/img/volume-up.svg' : '/assets/img/volume-mute.svg'" 
        alt="mute"
      >
    </div>
  </div>
</div>

<div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center" class="spinner">
  <ion-spinner name="crescent"></ion-spinner>
</div>
<p>{{ castService.castEnabled ? 'Enabled' : 'Disabled' }}</p>
<p>{{ castService.receiverAvailable ? 'Receiver Available' : 'No Receiver Available' }}</p>
<p>{{ castService.isCasting ? 'Casting' : 'Not Casting' }}</p>
